<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Doctor</title>
</head>
<body>
<h2>Chỉnh sửa thông tin bác sĩ</h2>

<form th:action="@{/doctors/edit/{id}(id=${doctor.doctorId})}" th:object="${doctor}" method="post">
    <label>Name: </label>
    <input type="text" th:field="*{user.name}"/><br/>

    <label>Email: </label>
    <input type="email" th:field="*{user.email}"/><br/>

    <label>Phone: </label>
    <input type="text" th:field="*{user.phone}"/><br/>

    <label>Password: </label>
    <input type="password" th:field="*{user.password}"/><br/>

    <label>Experience: </label>
    <input type="number" th:field="*{experience}"/><br/>

    <label>Description: </label>
    <textarea th:field="*{description}"></textarea><br/>

    <button type="submit">Update</button>
</form>

<a href="/doctors">Back to lists</a>
</body>
</html>