<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor management</title>
</head>
<body>
<h2>Doctor Management</h2>

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Password</th>
        <th>Gender</th>
        <th>Experience</th>
        <th>Discription</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${manageDoctors}">
        <td th:text="${doctor.doctorId}">ID</td>
        <td th:text="${doctor.user.name}">Tên bác sĩ</td>
        <td th:text="${doctor.user.email}">Email</td>
        <td th:text="${doctor.user.phone}">Số điện thoại</td>
        <td th:text="${doctor.user.password}">Password</td>
        <td th:text="${doctor.user.gender}">Giới tính</td>
        <td th:text="${doctor.experience}">Kinh nghiệm</td>
        <td th:text="${doctor.description}">Mô tả</td>
        <td th:text="${doctor.isActive}">Trạng thái</td>
        <td>
            <form th:action="@{'/delete/' + ${doctor.doctorId}}" method="post" style="display:inline;">
                <input type="hidden" name="_method" value="PATCH"/>
                <button type="submit" onclick="return">Delete</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/active/' + ${doctor.doctorId}}" method="post" style="display:inline;">
                <input type="hidden" name="_method" value="PATCH"/>
                <button type="submit" onclick="return">Active</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>