<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Menu Doctor</title>
</head>
<body>
<h2>Doctor Management</h2>

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Password</th>
        <th>Gender</th>
        <th>Experience</th>
        <th>Discription</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.doctorId}">ID</td>
        <td th:text="${doctor.user.name}">Tên bác sĩ</td>
        <td th:text="${doctor.user.email}">Email</td>
        <td th:text="${doctor.user.phone}">Số điện thoại</td>
        <td th:text="${doctor.user.password}">Password</td>
        <td th:text="${doctor.user.gender}">Giới tính</td>
        <td th:text="${doctor.experience}">Kinh nghiệm</td>
        <td th:text="${doctor.description}">Mô tả</td>
        <td>
            <a th:href="@{/doctors/edit/{id}(id=${doctor.doctorId})}">Update</a>
        </td>
        <td>
            <form th:action="@{'/doctors/delete/' + ${doctor.doctorId}}" method="post" style="display:inline;">
                <input type="hidden" name="_method" value="PATCH"/>
                <button type="submit" onclick="return">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>

    <a th:href="@{/createDoctor}">Create new Doctor account</a></br>
</table>

</body>
</html>
